### 1. Stock prices

The file *apple_share_price.csv* contains share prices of Apple's stock over a period of two years. We have loaded the data and used the 'Date' column as an index. 

Write code to do the following:

* List the closing prices for days between Jan 01, 2017 and Jan 15, 2017. Note that the prices are in reverse chronological order.

* Find the mean closing price during the above period.

In [3]:
import pandas as pd
dfp = pd.read_csv("misc/apple_share_price.csv",parse_dates={'date':[0]}, index_col="date")
dfp.head(3)

              Open    High     Low   Close    Volume
date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557

In [ ]:
#Write a line that retrieves the share prices between Jan 01, 2017 to Jan 15, 2017.

In [ ]:
# Mean price during the above period

### 2. Day or Night?

In this problem, you need to solve a classification problem. There are 10 pictures in the folder <code>misc/day_night_pics</code>. The first five were taking during day time and the rest during night time. Each image is of size 100x100. 

The file [day_night_pics.csv](./misc/day_night_pics.csv) has 17 columns. The first ten columns encode the ten images mentioned above. For each pixel, there are three values: (R,G,B). So an image is described by 3x100x100 values. The first three rows contain the R,G,B values of the top-left most pixel. The next three rows contain the RGB values of the next pixel and so on. Hence, there are 30000 rows. 

Columns 10-16 has data for seven more images (which you cant see). Which of these images do you think were taken during the day?

In [4]:
df = pd.read_csv('misc/day_night_pics.csv')

In [5]:
df.shape

(30000, 17)

In [6]:
# Write your answer and reasoning here
df.head()

    rgb    0    1    2    3    4   5  6  7   8   9   10  11  12   13   14  15
0   p0   255  161  221  144  122   9  0  4   0   1  146   0  14  247  189   1
1   p1   255  131  212  176  163  26  0  4   2  12  154   0  14  252  166   4
2   p2   255  110  204  213  208  28  0  2  17  59  156   1  32  247  137  10
3   p3   255  161  227  145  123  17  0  5   0   1  145   1  13  214  195   1
4   p4   255  129  218  180  164  42  0  5   2  14  153   1  14  229  176   5

### 3. Student Marks 

Consider the student dataset used in the example workbook. Write python code to do the following:

* Create a third column called "Average" which contains the average of the Marks1 and Marks2.
* Rank the students according to their average marks.
* Find the students whose Marks1 is above 30 and Marks2 is below 25.
* Capitalize the names of the students (use apply function)
* Create a new column called 'Sex' and set it to 'F' if the student's name ends with the letter 'a' and 'M' otherwise.

In [ ]:
import pandas as pd

df = pd.read_csv('misc/studentmarks2.csv', sep=",", header=None)
df.columns = ['Name', 'Marks1', 'Marks2']

In [ ]:
# 1. Avg. marks

In [ ]:
# 2. Ranking

In [ ]:
# 3. Selection criteria

In [ ]:
# 4. Capitalize the names

In [ ]:
# 5. Add the sex column

### 4. Balance calculator

The file [transactions.csv](misc/transaction.csv) contains records of transactions between a group of seven people. A row has three fields: From, To and Amount. An entry "Asha, Kabir, 20" means that Asha gave Rs.20 to Kabir. Write a program to find out the net balances of all seven individuals after the transactions. It is possible for a person to have negative balance. Assume that everybody has Rs. 0 to begin with.

*Hint: Use the melt function*

In [ ]:
import pandas as pd
df = pd.read_csv('misc/transactions.csv')

In [ ]:
df.head()

In [ ]:
# Code your solution here